body {
    font-family: Arial, sans-serif;
    background-color: #f2f6ff;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #1a237e;
}

h2 {
    color: #3949ab;
}

p {
    color: #333;
    font-size: 18px;
}

/* Small box style */
.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    box-shadow: 0px 0px 10px gray;
}
